:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: conic-gradient(
            from 180deg at 50% 50%,
            #16abff33 0deg,
            #0885ff33 55deg,
            #54d6ff33 120deg,
            #0071ff33 160deg,
            transparent 360deg
    );
    --secondary-glow: radial-gradient(
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0)
    );
    --alias-bg-subtle: #F3F4F6;
    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(
            #00000080,
            #00000040,
            #00000030,
            #00000020,
            #00000010,
            #00000010,
            #00000080
    );

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;

        --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
        --secondary-glow: linear-gradient(
                to bottom right,
                rgba(1, 65, 255, 0),
                rgba(1, 65, 255, 0),
                rgba(1, 65, 255, 0.3)
        );

        --tile-start-rgb: 2, 13, 46;
        --tile-end-rgb: 2, 5, 19;
        --tile-border: conic-gradient(
                #ffffff80,
                #ffffff40,
                #ffffff30,
                #ffffff20,
                #ffffff10,
                #ffffff10,
                #ffffff80
        );

        --callout-rgb: 20, 20, 20;
        --callout-border-rgb: 108, 108, 108;
        --card-rgb: 100, 100, 100;
        --card-border-rgb: 200, 200, 200;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #FCFCFD !important;
}

a {
    color: inherit;
    text-decoration: none;
}

.main {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.chakra-toast .chakra-alert {
    font-size: 12px;
    max-width: 530px;
}

.chakra-toast .chakra-alert button {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.rdw-editor-wrapper .rdw-editor-main .DraftEditor-root .DraftEditor-editorContainer .public-DraftEditor-content {
    height: 100%;
}

.rdw-editor-wrapper .rdw-editor-main .DraftEditor-root .DraftEditor-editorContainer .public-DraftEditor-content .public-DraftStyleDefault-block {
    margin: 0;
}

.default-editor-css {
    font-size: 13px;
    color: #0A101D;
    font-weight: 500;
}

.rdw-editor-wrapper .rdw-editor-toolbar .rdw-option-wrapper {
    transition: all 0.3s;
    background-color: transparent;
    width: 16px;
    padding: 0;
    margin: 0;
    min-width: 20px;
    border: 1px solid transparent;
    box-shadow: none;
}

.rdw-editor-wrapper .rdw-editor-toolbar .rdw-option-wrapper.rdw-option-active {
    background-color: rgba(32, 33, 36, 0.1);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.rdw-editor-wrapper .rdw-editor-toolbar .rdw-option-wrapper:hover {
    box-shadow: none;
    background-color: rgba(32, 33, 36, 0.059);
}

.rdw-editor-wrapper .rdw-editor-toolbar {
    border: 0;
    border-radius: 4px;
    margin: 0;
    width: fit-content;
    background-color: transparent;
    position: absolute;
    left: -4px;
    bottom: -4px;
    gap: 8px;
}

.rdw-editor-wrapper.show-shadow:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 72px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    z-index: 5;
}


.rdw-editor-wrapper .rdw-editor-toolbar .rdw-emoji-wrapper {
    border-left: 1px solid rgba(8, 22, 47, 0.1);
    margin-bottom: 0;
    padding-left: 4px;
}

.rdw-editor-wrapper .rdw-editor-toolbar .rdw-list-wrapper,
.rdw-editor-wrapper .rdw-editor-toolbar .rdw-inline-wrapper {
    margin-bottom: 0;
    gap: 8px;
}

.drop-down-list {
    padding: 0 !important;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08) !important;
    border-radius: 16px !important;
    border: 1px solid #E5E7EB;
    overflow: auto;
}


.drop-down-list.reply-dropdown {
    min-width: 135px;
}

.drop-down-list .delete-button {
    color: #F44B16;
}

.drop-down-list button {
    color: #374151;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 12px;
}

.drop-down-list button.emoji-modal-icon {
    font-size: 16px;
    padding: 3px 2px;
    border-radius: 3px;
    line-height: 1;
}

.drop-down-list button svg {
    margin: 0;
    font-size: 16px;
}

.drop-down-list button:hover {
    background-color: rgba(8, 22, 47, 0.05);
}

.drop-down-list .dropdown-searchbar {
    max-width: calc(100% - 24px);
    margin: 0 auto;
    padding: 12px 0;
    position: relative;
    border-bottom: 1px solid #F3F4F6;
}

.drop-down-list .dropdown-searchbar svg {
    width: 15px;
    height: 15px;
    color: #6B7280;
}

.drop-down-list .dropdown-searchbar input {
    border-radius: 50px;
    border: 0;
    background-color: #F3F4F6;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 15px 3px 30px;
    height: auto;
}

.drop-down-list .dropdown-searchbar input::placeholder {
    color: #9CA3AF;
}

.rdw-editor-wrapper .rdw-editor-main {
    max-height: calc(100vh - 319px);
}

.mailSendToaster button {
    background-color: transparent;
    color: #000000;
    font-size: 14px;
}

.mailSendToaster button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
}

div:has(> .mailSendToaster) {
    max-width: 700px;
}

.disney-icon:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #FF87DB;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    top: -2px;
    right: -2px;
}

.member-images .member-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-images .member-photo {
    min-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #EBF2FF;
    border: 1px solid #FFFFFF;
}

.member-images.subheader-images .member-photo {
    min-width: 18px;
    width: 18px;
    height: 18px;
}

.member-images .member-photo + .member-photo {
    margin-left: -12px;
}

.folder-icon svg {
    stroke: #374151;
}

.readThreadIcon {
    font-size: 12px;
}


.dot {
    width: 3px;
    height: 3px;
    border-radius: 4px;
    background-color: #0A101D;
    display: inline-block;
    margin-bottom: 3px;
}

.reply-message-area.rdw-editor-wrapper {
    flex: 1;
    max-height: calc(100vh - 520px);
}

.reply-message-area.rdw-editor-wrapper .rdw-editor-main {
    max-height: 100%;
    overflow: unset;
}

.message-reply-box.rdw-editor-wrapper .rdw-editor-toolbar {
    opacity: 0;
}

.hide-toolbar.rdw-editor-wrapper .rdw-editor-toolbar {
    opacity: 1;
}

.confirm-modal .footer-button {
    padding: 9px 12px;
    font-size: 14px;
    line-height: 16px;
    height: auto;
    border-radius: 8px;
    font-weight: 500;
    border: 1px solid transparent;
}

.confirm-modal .footer-button.remove-button {
    background-color: #FF5E2C;
    color: #FFFFFF;
    border-color: #FF5E2C;
}

.confirm-modal .footer-button.confirm-button {
    background-color: #1F2937;
    color: #FFFFFF;
    border-color: #1F2937;
}

.confirm-modal .footer-button.cancel-button {
    background-color: #FFFFFF;
    color: #374151;
    border-color: #374151;
}

.inbox-loader .progress-bar > div {
    background-color: #FF87DB;
}

.inbox-loader-box {
    transform: rotate(-1deg);
}

.inbox-loader-box-2 {
    transform: rotate(-2deg);
}

.inbox-loader-box-3 {
    transform: rotate(-3deg);
}

.rdw-editor-wrapper .emoji-picker,
.rdw-editor-wrapper .rdw-image-modal {
    top: unset;
    bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.rdw-editor-wrapper .emoji-picker.rdw-link-modal {
    height: auto;
}

.rdw-editor-wrapper .emoji-picker label {
    font-size: 13px;
    color: #374151;
    line-height: 1;
    font-weight: 500;
}

.rdw-editor-wrapper .emoji-picker .rdw-link-modal-btn,
.rdw-editor-wrapper .rdw-image-modal .rdw-image-modal-btn {
    background-color: #1F2937;
    color: #FFFFFF;
    padding: 10px;
    height: auto;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #1F2937;
}

.rdw-editor-wrapper .emoji-picker .rdw-link-modal-btn + .rdw-link-modal-btn,
.rdw-editor-wrapper .rdw-image-modal .rdw-image-modal-btn + .rdw-image-modal-btn {
    background-color: #FFFFFF;
    color: #1F2937;
}

.rdw-editor-wrapper .emoji-picker .rdw-link-modal-btn:hover,
.rdw-editor-wrapper .rdw-image-modal .rdw-image-modal-btn:hover {
    box-shadow: none;
}

.rdw-editor-wrapper .emoji-picker input {
    border-radius: 8px;
    padding: 10px 15px;
    height: auto;
    line-height: 1;
    font-size: 13px;
    border: 1px solid #E5E7EB;
}

.rdw-editor-wrapper .link-class {
    margin-left: 52px;
    margin-bottom: -3px;
}

.custom-dropdown {
    border-radius: 12px !important;
    padding: 0 !important;
    overflow: hidden;
}

.custom-dropdown .radio-group-button label {
    line-height: 1;
    color: #374151;
    letter-spacing: -0.13px;
    font-weight: 400;
    border-color: #E5E7EB;
}

.custom-dropdown .radio-group-button label span {
    font-size: 13px;
}

.custom-dropdown .radio-group-button label span[data-checked] {
    background: #2A6FFF;
    border-color: #2A6FFF;
}

.custom-dropdown .radio-group-button label span[data-checked] + span {
    background: transparent;
}

.custom-dropdown .radio-group-button label span span {
    color: #9CA3AF;
}

.custom-dropdown .custom-time-date:hover {
    background-color: #FFFFFF;
}

.radio-group-button .custom-time input:focus-visible,
.radio-group-button .custom-time select:focus-visible {
    border: 1px solid #E5E7EB;
    box-shadow: none;
}

.radio-group-button .custom-time select {
    padding: 12px 16px 11px;
}

.radio-group-button .custom-time select {
    padding: 12px 16px 11px;
}

.radio-group-button .schedule-button:hover {
    background-color: #1F2937;
}

.create-project-button .folder-icon svg {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.rdw-editor-wrapper .emoji-picker.rdw-emoji-modal {
    padding: 12px;
    border-radius: 16px;
    width: 358px;
    max-height: 175px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(10, 1fr);
}

.rdw-editor-wrapper .emoji-picker.rdw-emoji-modal .rdw-emoji-icon {
    font-size: 16px;
    margin: 0;
    width: 25px;
}

.editor-bottom-shadow .show-shadow-bottom:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 72px;
    background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    bottom: 38px;
    left: 0;
    z-index: 5;
}

.editor-bottom-shadow .show-shadow:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 40px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    top: 0;
    left: 0;
    z-index: 5;
}

::-webkit-datetime-edit-ampm-field {
    display: none;
}

.project-list-shadow {
    position: relative;
    user-select: none;
}

.project-list-shadow .project-list-top-shadow:before {
    position: absolute;
    content: '';
    width: calc(100% - 12px);
    height: 50px;
    left: 6px;
    top: 0;
    background: linear-gradient(180deg, #F9FAFB 0%, rgba(249, 250, 251, 0.00) 100%);
}

.project-list-shadow .project-list-bottom-shadow:after {
    position: absolute;
    content: '';
    width: calc(100% - 12px);
    height: 50px;
    left: 6px;
    bottom: 0;
    background: linear-gradient(0deg, #F9FAFB 0%, rgba(249, 250, 251, 0.00) 100%);
}

.drop-down-list.month-dropdown .month-dropdown-scrollbar {
    max-height: 200px;
    overflow: auto;
}

.drop-down-list.month-dropdown {
    overflow: hidden;
}

.add-to-project-list {
    max-height: 40vh;
    overflow: auto;
}


/**
  * Collab Rich Text Editor
  */

.tiptap {
    padding-bottom: 16px;
    font-size: 13px;
    font-weight: 500;
}

.tiptap:focus {
    outline: none;
}

.tiptap ul,
.tiptap ol {
    margin-left: 20px;
}

.tiptap-toolbar button {
    width: 16px;
    height: 16px;
}

.tiptap a {
    color: rgb(0, 0, 238);
    text-decoration: underline;
    cursor: pointer;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.tiptap-container{
  transition: all 1s ease-in-out;
}

.tiptap-container.compose-view{
  flex: 1;
}

.tiptap-container .show-shadow-bottom:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 72px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    top: 0;
    left: 0;
    z-index: 5;
}

.tiptap-container .show-shadow-bottom:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 72px;
    background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    bottom: 0;
    left: 0;
    z-index: 5;
}

.tiptap-container .hide-toolbar.show-shadow-bottom:after {
    bottom: 60px;
}

.ProseMirror {
  position: static !important;
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
  content: "x";
  width: 1px;
  height: 18px;
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-top: 0px;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: absolute;
  word-break: normal;
  z-index: 10000;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.3em;
  user-select: none;
  white-space: nowrap;
  z-index: 10000;
}

.email-signature.rdw-editor-wrapper .rdw-editor-toolbar .rdw-option-wrapper {
    width: 24px;
    height: 24px;
}

.email-signature.rdw-editor-wrapper .rdw-editor-toolbar .rdw-option-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.email-signature.rdw-editor-wrapper .link-class {
    margin-bottom: 0;
    margin-left: 27px;
}

.email-signature.rdw-editor-wrapper .rdw-image-wrapper {
    margin-bottom: 0;
}

.email-signature.rdw-editor-wrapper .rdw-image-wrapper .rdw-option-wrapper {
    padding: 2px;
}

.rdw-editor-wrapper .rdw-image-modal .rdw-image-modal-upload-option {
    background-color: #FFFFFF;
    border-radius: 10px;
    outline: none;
    border: 1px solid #E5E7EB;
    padding: 0;
}

.rdw-editor-wrapper .rdw-image-modal .rdw-image-modal-upload-option .rdw-image-modal-upload-option-label img {
    max-height: 100px;
    object-fit: contain;
}

.rdw-editor-wrapper .rdw-image-modal .rdw-image-modal-url-section {
    position: relative;
}

.rdw-editor-wrapper .rdw-image-modal .rdw-image-modal-url-section::before {
    position: absolute;
    content: 'Add Image URL';
    font-size: 12px;
    font-weight: 500;
    color: #374151;
    top: -3px;
    left: 0;
}

.rdw-editor-wrapper .rdw-image-modal .rdw-image-modal-header {
    margin-top: 0;
}

.rdw-editor-wrapper .rdw-image-modal .rdw-image-modal-alt-input,
.rdw-editor-wrapper .rdw-image-modal .rdw-image-modal-size-input {
    height: 30px;
}

#chakra-toast-manager-bottom {
    align-items: start;
}

.emoji-popover {
  background-color: white;
  z-index: 10 !important;
}

.emoji-popover.chakra-popover__content {
    width: 322px;
}

.emoji-popover .emoji-modal-icon {
    cursor: pointer;
}

.tiptap-toolbar {
  opacity: 0;
  background-color: #fff;
  transition: all 1s ease-in-out;
}

.tiptap-toolbar.show{
  opacity: 1;
  transition: all 1s ease-in-out;
}

.tiptap-toolbar button.is-active {
    background-color: rgba(32, 33, 36, 0.1);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.tiptap-toolbar button:hover {
    background-color: rgba(32, 33, 36, 0.1);
}

.archive-button-icon:hover path{
  opacity: 1;
  stroke: #00A88E;
}
.trash-button-icon:hover path{
  stroke: #A62700;
}
.snooze-button-icon:hover svg{
  stroke: #918F1F;
}
.inbox-button-icon:hover svg{
  stroke: #0556FF !important;
}
