.description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
}

.description a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.description p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}

.code {
    font-weight: 700;
    font-family: var(--font-mono);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
}

.card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
}

.center::before {
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 480px;
    height: 360px;
    margin-left: -400px;
}

.center::after {
    background: var(--primary-glow);
    width: 240px;
    height: 180px;
    z-index: -1;
}

.center::before,
.center::after {
    content: '';
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
}

.logo {
    position: relative;
}

/*Header CSS start*/

.header {
    padding: 12px 40px;
    border-bottom: 1px solid rgba(8, 22, 47, 0.12);
}

.header img {
    min-width: 20px;
    max-width: 20px;
}

.headerTabs {
    gap: 35px;
    padding: 0 50px;
}

.headerTabs div {
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.5s;
}

.headerTabs div:hover {
    color: #266DF0;
}

.headerTabs div:hover svg {
    stroke: #266DF0;
}

.headerTabs .tabsActive {
    color: #266DF0;
    position: relative;
}

.headerTabs .tabsActive:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #266DF0;
    bottom: -21px;
}

.headerTabs .tabsActive svg {
    stroke: #266DF0;
    transition: all 0.5s;
}

.headerTabs svg {
    stroke: #08162F;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.headerSearch {
    width: 100%;
}

.headerSearch svg {
    color: rgba(8, 22, 47, 0.5);
}

.headerSearch div {
    height: 100%;
}

.headerSearch input {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #08162F;
    border-radius: 50px;
    background-color: #F5F5F5;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

.headerSearch input::placeholder {
    color: rgba(8, 22, 47, 0.5);
}

.headerSearch .inputRight {
    color: #08162F;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50px;
    padding: 2px 4px;
    background-color: #ffffff;
    height: fit-content;
}

.notificationIcon {
    position: relative;
    height: 36px;
    width: 36px;
    border-radius: 50px;
    background-color: rgba(38, 109, 240, 0.2);
    border: 1px solid rgba(38, 109, 240, 0.2);
    margin-left: 21px;
    margin-right: 15px;
}

.notificationIcon span {
    position: absolute;
    border-radius: 50px;
    background-color: #266DF0;
    color: #ffffff;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
    right: -5px;
    top: -5px;
}

.profile {
    margin-left: auto;
}

.profileButton {
    background: transparent !important;
    padding: 0 !important;
}

.profileButton img {
    min-width: 36px;
    height: 36px;
}

/*Header CSS END*/

.mailBg {
    background-color: #FCFCFD;
    padding: 32px 40px 0;
    height: calc(100vh - 136px);
}

.mailBoxTabs {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 40px;
}
.Workspace {
    margin-right: 15px;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }

    .card:hover span {
        transform: translateX(4px);
    }
}

@media (prefers-reduced-motion) {
    .card:hover span {
        transform: none;
    }
}


/* Mobile */
@media (max-width: 700px) {
    .content {
        padding: 4rem;
    }

    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
        max-width: 320px;
        text-align: center;
    }

    .card {
        padding: 1rem 2.5rem;
    }

    .card h2 {
        margin-bottom: 0.5rem;
    }

    .center {
        padding: 8rem 0 6rem;
    }

    .center::before {
        transform: none;
        height: 300px;
    }

    .description {
        font-size: 0.8rem;
    }

    .description a {
        padding: 1rem;
    }

    .description p,
    .description div {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
    }

    .description p {
        align-items: center;
        inset: 0 0 auto;
        padding: 2rem 1rem 1.4rem;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
        background: linear-gradient(
                to bottom,
                rgba(var(--background-start-rgb), 1),
                rgba(var(--callout-rgb), 0.5)
        );
        background-clip: padding-box;
        backdrop-filter: blur(24px);
    }

    .description div {
        align-items: flex-end;
        pointer-events: none;
        inset: auto 0 0;
        padding: 2rem;
        height: 200px;
        background: linear-gradient(
                to bottom,
                transparent 0%,
                rgb(var(--background-end-rgb)) 40%
        );
        z-index: 1;
    }
}

.organizationModal {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.organizationModal .organizationInput {
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    height: 40px;
}

.organizationModal .organizationButton {
    width: 100%;
    background: #761799;
    color: white;
    border-radius: 15px;
}

.organizationModal .organizationButton:hover {
    background: #761799;
}

.modalFooter .modalClose {
    background-color: #266DF0;
    color: #ffffff;
}

.modalFooter .modalClose:hover {
    background-color: #266DF0;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (prefers-color-scheme: dark) {
    .vercelLogo {
        filter: invert(1);
    }

    .logo {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media (max-width: 991px) {
    .mailBg .mailGrid {
        grid-template-columns: 100% 100%;
        display: block;
    }

    .mailBg {
        height: 100%;
        padding: 30px 30px 10px;
    }

    .header {
        padding: 12px 25px;
    }
}


@media (max-width: 767px) {
    .mailBg {
        padding: 20px 20px 10px;
    }

    .header {
        padding: 12px 15px;
    }

    .headerSearch .inputGroup {
        display: none;
    }

    .headerTabs {
        gap: 20px;
        padding: 0 20px;
    }

    .headerRightIcon {
        padding: 10px 0;
    }

    .profileButton img {
        min-width: 30px;
        height: 30px;
    }

    .notificationIcon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 576px) {
    .mailBg {
        padding: 15px 15px 10px;
    }
}
