/*Filter Tabs Details start*/
.filterTabs {
    padding: 16px 40px;
    border-bottom: 1px solid rgba(8, 22, 47, 0.12);
}

/*Filter Tabs End*/


/*Mail section CSS start*/
.mailTabList {
    background-color: rgba(8, 22, 47, 0.03);
    border-radius: 8px;
    padding: 2px;
}

.emailTabs > div {
    padding: 9px 12px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.emailTabs > div:hover {
    color: #266DF0;
}

.emailTabs > div:hover svg {
    stroke: #266DF0;
}

.emailTabs > div span span {
    background-color: #E9F0FE;
    border-radius: 4px;
    margin-left: 4px;
    padding: 1px 4px;
    line-height: 1.23;
}

.emailTabs > div svg {
    width: 20px;
    height: 20px;
}

.emailTabs > div span {
    margin-left: 8px;
    display: none;
}

.emailTabs > div.active {
    background-color: #ffffff;
    color: #266DF0;
}

.emailTabs > div.active span {
    display: inline-block;
}

.emailTabs > div.active svg {
    stroke: #266DF0;
}

.emailTabs .moreDropdown span {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #5D5F62;
}

.emailTabs .moreDropdown .moreButton {
    padding: 0 0 0 13px;
    background-color: transparent;
    height: fit-content;
    border-left: 1px solid rgba(93, 95, 98, 0.2);
    border-radius: 0;
}

.emailTabs .moreDropdown span svg {
    width: 8px;
    height: 8px;
}

.checkBoxLabel {
    color: #5D5F62;
    font-size: 13px;
    font-weight: 400;
}

.mailOtherOption {
    margin-left: 20px;
}

.mailOtherOption button {
    border: 1px dashed rgba(93, 95, 98, 0.14);
    border-radius: 50px;
    color: #5D5F62;
    font-size: 13px;
    line-height: 1;
    padding: 5px 12px;
    height: auto;
}

.mailOtherOption button span {
    background-color: rgba(93, 95, 98, 0.1);
    letter-spacing: 0.24px;
    line-height: 1.25;
    padding: 1px 4px;
    margin-left: 8px;
    border-radius: 4px;
}

.mailOtherOption .active button {
    border: 1px solid rgba(38, 109, 240, 0.14);
    color: #266DF0;
}

.mailOtherOption .active button span {
    background-color: #E9F0FE;
}

.mailList {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

.mailOpen .mailDetails {
    border-color: rgba(38, 109, 240, 0.15);
    background-color: rgba(38, 109, 240, 0.03);
}

.mailDetails {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.mailDetails .SenderIcon svg {
    width: 20px;
    height: 20px;
}

.mailDetails .SenderIcon {
    line-height: 1;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.mailDetails .senderDetails {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 1px 6px 1px 1px;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    line-height: 14.32px;
}

.mailDetails .senderDetails svg {
    width: 20px;
    height: 20px;
}

.mailDetails .mailRead {
    width: 20px;
    height: 20px;
    background-color: #E9F0FE;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.mailDetails .mailRead svg {
    stroke: #266DF0;
}

.mailDetails .mailMessage {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 4px;

}

/*Mail section CSS End*/


/* Mail Box Start */
.mailBox {
    border: 1px solid rgba(8, 22, 47, 0.16);
    border-radius: 16px;
    height: calc(100% - 16px);
}

.mailBox svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.mailBox .mailBody {
    padding: 24px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    margin: 10px 20px;
    font-size: 16px;
    line-height: 1.5;
}

.replyBox {
    border: 1px solid rgba(8, 22, 47, 0.1);
    border-radius: 20px;
}

.headerRightIcon svg{
    cursor: pointer;
}

.mailBox .addToProject {
    border-radius: 50px;
    background: rgba(38, 109, 240, 0.1);
    color: #266DF0;
    box-shadow: 0 0 3px 0 rgba(38, 109, 240, 0.12);
    padding: 4px 4px 4px 8px;
    font-size: 12px;
    font-weight: 500;
    height: fit-content;
}

.mailBox .addToProject:hover {
    background: rgba(38, 109, 240, 0.1);
}

.mailBox .addToProject .RightContent {
    display: inline-block;
    background-color: rgba(38, 109, 240, 0.1);
    border-radius: 50px;
    padding: 2px 4px;
    margin-left: 5px;
}

.mailBox .addToProject svg {
    stroke: #266DF0;
    margin: 0;
}

.replyBox h1 {
    font-size: 13px;
    font-weight: 500;
}

.replyBoxCC button {
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.04);
    border-color: transparent;
    color: #000000;
}

.replyBoxCC button.textBlue {
    background-color: #ffffff;
    border-color: rgba(38, 109, 240, 0.24);
    color: #266DF0;
}

.closeIcon {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.closeIcon svg {
    width: 0.7rem;
    height: 0.7rem;
    color: rgba(0,0,0, 0.5);
    font-weight: 700;
    margin: 0;
}

.actionIcon {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0,0,0, 0.1);
    cursor: pointer;
}

.actionIcon svg {
    width: 1rem;
    height: 1rem;
    margin: 0;
    color: #4A4A4A;
}

.mailBox .mailFooter {
    padding: 20px;
}

.mailBox .mailFooter svg {
    cursor: pointer;
}

.mailReplay h1 {
    font-weight: 500;
    font-size: 13px;
}

.mailReplay svg {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-left: 5px;
}

.mailReplay p {
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.replayMessage {
    padding: 16px;
}

.replayMessage input {
    margin-bottom: 10px;
    color: #000000;
    font-size: 13px;
}

.replayMessage input::placeholder {
    color: #000000;
}

.replayMessage .replyButton {
    background-color: #266DF0;
    color: #ffffff;
}

.replayMessage .replyButton:hover {
    background-color: #266DF0;
}

.replyButton svg {
    margin-right: 0;
}

/* Mail Box End */
