/*Filter Tabs Details start*/
.filterTabs {
    padding: 16px 40px;
    border-bottom: 1px solid rgba(8, 22, 47, 0.12);
}

/*Filter Tabs End*/


/*Mail section CSS start*/
.mailTabList {
    background-color: #F3F4F6;
    border-radius: 8px;
    padding: 2px 0 2px 2px;
}

.emailTabs > div {
    padding: 9px 12px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.emailTabs > div svg {
    stroke: #6B7280;
}

.emailTabs > div:hover {
    color: #0A101D;
}

.emailTabs > div:hover svg {
    stroke: #0A101D;
}

.emailTabs > div span span {
    background-color: #F3F4F6;
    border-radius: 4px;
    margin-left: 4px;
    padding: 1px 4px;
    line-height: 1.23;
}

.emailTabs > div svg {
    width: 20px;
    height: 20px;
}

.emailTabs > div span {
    margin-left: 8px;
    display: none;
}

.emailTabs > div.active {
    background-color: #ffffff;
    color: #0A101D;
}

.emailTabs > div.active span {
    display: flex;
}

.emailTabs > div.active svg {
    stroke: #0A101D;
}

.moreDropdown span {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #5D5F62;
}

.moreDropdown .moreButton {
    padding: 0 0 0 13px;
    background-color: transparent;
    height: fit-content;
    border-left: 1px solid rgba(93, 95, 98, 0.2);
    border-radius: 0;
}

.moreDropdown .moreButton:active {
    background-color: transparent;
}

.moreDropdown .moreButton:hover {
    background-color: transparent;
}

.moreDropdown span svg {
    width: 8px;
    height: 8px;
}

.mailTabList .tabListMoreButton:hover,
.mailTabList .tabListMoreButton[data-active],
.mailTabList .tabListMoreButton:active {
    background-color: transparent;
}

.threadSearched .tabListMoreButton[data-active],
.threadSearched .tabListMoreButton:active {
    background-color: var(--alias-bg-subtle);
}

.mailTabList .tabListMoreButton svg {
    width: 9px;
}

.searchCloseIcon svg {
    color: #6B7280;
}

.tabListMoreButton svg {
    width: 9px;
    height: 9px;
}

.tabListMoreButton span {
    margin-left: 4px;
}

.searchCloseIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.tabListDropDown button {
    gap: 8px;
}

.tabListDropDown button svg {
    stroke: #5D5F62;
}

.multiselectTreadTabList.tabListDropDown .tabListSnoozeButton svg {
    stroke: rgba(93, 95, 98, 0.9);
}

.multiselectTreadTabList.tabListDropDown .tabListSnoozeButton:hover svg {
    stroke: #000;
}

.tabListDropDown button:hover svg {
    stroke: #000;
}

.tabListDropDown .tabListSnoozeButton {
    color: #374151;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 12px;
}

.tabListDropDown .tabListSnoozeButton svg {
    margin-right: 8px;
    font-size: 17px;
}

.tabListDropDown .tabListSnoozeButton:hover {
    background-color: var(--alias-bg-subtle);
}

.tabListDropDown button.dropDownIconBold svg {
    opacity: 0.9;
}

.mailTabList .tabListDropDown button {
    gap: 8px;
    padding: 10px 12px;
}

.mailTabList .tabListDropDown svg {
    width: 20px;
    height: 20px;
    stroke: #6B7280;
}

.checkBoxLabel span {
    color: #5D5F62;
    background-color: #FFFFFF;
    border-color: rgba(8, 22, 47, 0.1);
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
    border-radius: 2px;
}

.checkBoxLabel input:checked + span,
.checkBoxLabel input[data-checked] + span {
    background: #08162F;
    border-color: #08162F;
}

.mailOtherOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mailOtherOption button {
    border: 1px solid rgba(93, 95, 98, 0.14);
    border-radius: 50px;
    color: #5D5F62;
    font-size: 13px;
    line-height: 1;
    padding: 5px 12px;
    height: 28px;
}

.mailOtherOption .resumeDraft {
    border: 1px solid #FF87DB;
    background-color: #FFFFFF;
    color: #67074A;
    width: 110px;
}

.mailOtherOption .resumeDraft:hover {
    background-color: #FFFFFF;
}

.mailOtherOption button span {
    background-color: rgba(93, 95, 98, 0.1);
    letter-spacing: 0.24px;
    line-height: 1.25;
    padding: 1px 4px;
    margin-left: 8px;
    border-radius: 4px;
}

.mailOtherOption .active button {
    border: 1px solid #08162F;
    color: #08162F;
}

.mailOtherOption .active button span {
    background-color: #E9F0FE;
}

.mailList {
    max-height: calc(100vh - 258px);
    overflow-y: auto;
    /*padding: 0 6px;*/
    padding-right: 6px;
    scrollbar-gutter: stable;
}

.mailList::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.mailList.scrollBar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
}

.mailList.projectMailList {
    max-height: calc(100vh - 290px);
}

.mailList .mailListSkeleton {
    --skeleton-start-color: #E5E7EB;
    --skeleton-end-color: #d7d7d7;
}

.mailOpen .mailDetails {
    border-color: rgba(38, 109, 240, 0.15);
    background-color: rgba(38, 109, 240, 0.03);
}

.mailDetails {
    background-color: #ffffff;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    height: 62px;
}

.mailDetails:hover {
    background-color: rgba(0, 0, 0, 0.01);
}

.mailDetailsSelected {
    border-color: #76A2FF;
}

.mailDetails .SenderIcon svg {
    width: 20px;
    height: 20px;
}

.mailDetails .SenderIcon {
    line-height: 1;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.mailDetails .senderDetails {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 1px 6px 1px 6px;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    max-width: 400px;
    white-space: nowrap;
    display: inline-block;
    line-height: 22px;
}

.mailDetails .senderDetails span {
    display: inline;
}

.mailDetails .senderDetails svg {
    width: 20px;
    height: 20px;
}

.mailDetails .mailRead {
    width: 20px;
    height: 20px;
    background-color: #E9F0FE;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.mailDetails .mailRead svg {
    stroke: #266DF0;
}

.mailDetails .mailMessage {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 4px;

}

/*Mail section CSS End*/

.error {
    color: #FF0000;
}

/* Mail Box Start */
.mailBox {
    border: 1px solid #F3F4F6;
    border-radius: 16px;
    background-color: white;
    height: calc(100vh - 157px)
}

.mailBox .mailBoxMailList {
    flex: 1;
}

.mailBox.mailBoxFocused {
    /*border: 1px solid #000;*/
    /*box-shadow: 0 0 0 3px #e5e7eb;*/
}

.mailBox.mailBoxCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.mailBoxCenteredLabel {
    font-size: 14px;
    line-height: 16px;
}

.mailBox svg {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    stroke: #6B7280;
}

.mailBox svg:hover {
    stroke: black;
}

.mailBox .mailBody {
    font-size: 16px;
    line-height: 1.5;
    /*width: calc(100% + 32px);*/
    width: 100%;
    border-radius: 12px;
}

.mailBox .mailBodyContent {
    width: 100%;
    /*padding: 0 16px;*/
    overflow-x: auto;
}

.mailBox .mailBodyContent::-webkit-scrollbar {
    height: 0;
}

.mailBox .mailBodyContent.projectMailBodyContent {
    padding: 0;
}

.mailBox .mailBodyAttachments {
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.03);
}

.replyBox {
    border: 1px solid rgba(8, 22, 47, 0.1);
    border-radius: 20px;
    position: relative;
}

.headerRightIcon svg {
    cursor: pointer;
}

.headerRightIcon .totalMessages {
    font-size: 14px;
}

.addToProject {
    min-width: 155px;
    border-radius: 50px;
    background: #2A6FFF;
    color: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(38, 109, 240, 0.12);
    padding: 4px 4px 4px 8px;
    font-size: 12px;
    font-weight: 500;
    height: fit-content;
}

.projectAdded span {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.projectAdded {
    border: 1px solid #F3F4F6;
}

.projectAdded:hover {
    background-color: #f7f7f7;
    border-color: #e9e9e9;
}

.projectAdded .projectAddedText {
    max-width: 130px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projectAdded .projectSelectImage .projectCount + .projectCount {
    margin-left: -11px;
}

.projectsLength {
    background-color: #C5D5ED;
    border-radius: 10px;
    margin-left: -11px;
    padding: 2px 4px;
    line-height: 1;
    font-size: 10px;
}

.projectAdded svg {
    width: 16px;
    height: 16px;
    margin-right: 0;
}

.projectAdded .projectMenuIcon svg {
    width: 12px;
    height: 12px;
    fill: #6B7280;
}

.addToProject:hover,
.addToProject[data-active] {
    background: #2A6FFF !important;
}

.addToProject .RightContent {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 2px 4px;
    margin-left: 5px;
    line-height: 1;
}

.addToProject svg {
    stroke: #FFFFFF;
    margin: 0;
    width: 20px;
    height: 20px;
}

.addToProjectList .addNewProject {
    width: calc(100% - 24px);
    margin: 0 auto;
}

.addToProjectList .backToInbox {
    padding: 0px 12px;
}

.addToProjectList .backToInbox button {
    border-bottom: 1px solid #F3F4F6;
    padding: 0;
}

.addToProjectList .backToInbox button:hover {
    background-color: transparent;
    /*border-bottom: inherit;*/
    /*color: #FFFFFF;*/
}

.addToProjectList .backToInbox:hover {
    background-color: var(--alias-bg-subtle);
    color: #FFFFFF;
}

/*.addToProjectList .backToInbox:hover svg {*/
/*    stroke: #266DF0;*/
/*}*/

.addToProjectList .backToInbox button svg {
    stroke: #08162F;
}

.addToProjectList .selectedProject:after {
    position: absolute;
    content: '';
    width: calc(100% - 24px);
    height: 1px;
    background-color: #F3F4F6;
    bottom: 0;
    left: 12px;
}

.addToProjectList .selectedProject .selectedProjectName {
    cursor: pointer;
}

.addToProjectList .selectedProject .selectedProjectName:hover {
    background-color: rgba(8, 22, 47, .05);
}

.addToProjectList .addNewProject button {
    border-top: 1px solid #F3F4F6;
    padding: 0;
    gap: 8px;
}

.addToProjectList .addNewProject button:hover {
    background-color: transparent;
}

.addToProjectList .addNewProject button .plusIcon,
.plusIconBlack {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #1F2937;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.replyBox h1 {
    font-size: 13px;
    font-weight: 500;
}

.replyBoxCC button {
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.04);
    border-color: transparent;
    color: #000000;
}

.replyBoxCC button.textBlue {
    background-color: #ffffff;
    border-color: rgba(38, 109, 240, 0.24);
    color: #266DF0;
}

.closeIcon {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.closeIcon svg {
    width: 0.7rem;
    height: 0.7rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 0;
}

.downloadIcon svg {
    width: 20px;
    height: 20px;
}

.actionIcon {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.actionIcon svg {
    width: 1rem;
    height: 1rem;
    margin: 0;
    color: #4A4A4A;
}

.mailBox .mailFooter {
    padding: 0 20px 20px;
}

.composeReplyBox {
    height: 100%;
}

.composeReplyBox .mailFooter {
    padding: 0;
}

.composeReplyBox .mailFooter .mailReply {
    padding: 10px 20px 0;
    margin-bottom: 0;
}

.composeReplyBox .mailFooter .replyBox {
    border: 0;
    height: 100%;
}

.composeReplyBox .mailFooter {
    flex: 1 1 auto;
}

.composeReplyBox .mailBoxFLex {
    flex: none;
}

.composeReplyBox .mailFooter .replyBoxTags {
    flex: none;
}

.composeReplyBox .mailFooter .replyMessage {
    flex: 1 1 auto;
}

.composeReplyBox .mailFooter .replyMessageArea {
    flex: 1 1;
    max-height: calc(100vh - 313px);
}

.mailBox .mailFooter svg {
    cursor: pointer;
    margin: 0;
}

.mailReply h1 {
    font-weight: 500;
    font-size: 13px;
}

.mailReply svg {
    width: 10px;
    height: 10px;
    margin-right: 0;
    margin-left: 5px;
}

.mailReply p {
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.mailReply .error {
    color: #FF0000;
}

.replyMessage {
    padding: 16px;
}

.replyMessage .replyMessageArea {
    color: #000000;
    font-size: 13px;
    border: 0;
    resize: none;
    display: flex;
    flex-direction: column-reverse;
}

.attachmentsFile .closeIcon {
    margin-left: auto;
    width: 16px;
    height: 16px;
}

.attachmentsFile .closeIcon svg {
    width: 7px;
    height: 7px;
}

.attachmentsProgressBar div p {
    display: none;
}

.replyBoxCC .ccInput {
    flex: 1 0 auto;
}

.replyBoxCC .ccInput::placeholder {
    text-transform: capitalize;
}

.emailRecipientsAutoComplete:hover {
    background: #F3F4F6;
}

.emailRecipientsAutoComplete p {
    color: #374151;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;

}

.replyBoxCC .ccInput:hover,
.replyBoxCC .ccInput:focus-visible,
.subject .subjectInput:hover,
.subject .subjectInput:focus-visible {
    border: 0;
    box-shadow: none;
}

.subject .subjectInput {
    height: auto;
    font-weight: 500;
    font-size: 15px;
}

.subject {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.replyBoxCC .error {
    width: 100%;
    display: block;
    font-size: 12px;

}

.replyMessage .replyMessageArea:focus-visible {
    box-shadow: none;
    border: 0;
}

.replyMessage .replyMessageArea::placeholder {
    color: #000000;
}

.replyButton svg {
    color: #ffffff;
}

.replyButton .replayTextButton,
.replyButton .replayArrowIcon {
    height: auto;
    background-color: #000000;
}

.replyButton .replayTextButton {
    border-radius: 5px 0 0 5px;
    padding: 10px 0 10px 10px;
    line-height: 18px;
}

.replyButton .replayArrowIcon {
    border: 0;
    min-width: auto;
    border-radius: 0 5px 5px 0;
    padding: 9px;
    height: 38px;
}

.replyButton .replayArrowIcon:hover,
.replyButton .replayArrowIcon:active,
.replyButton .replayArrowIcon:focus-visible,
.replyButton .replayArrowIcon:hover:disabled,
.replyButton .replayArrowIcon:hover[disabled] {
    background-color: #000000;
}

.replyButton .replayTextButton:hover,
.replyButton .replayTextButton:active,
.replyButton .replayTextButton:hover[disabled],
.replyButton .replayTextButton:hover:disabled,
.replyButton .replayTextButton:focus-visible {
    background-color: #000000;
    box-shadow: none;
}

.actionIcon.disabled {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
}

.mailListTabs .composeButton {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.13px;
    width: 110px;
}

/*.mailListTabs .composeButton:hover {*/
/*    !*background: #fff;*!*/
/*    !*color: #00A88E;*!*/
/*}*/

/*.mailListTabs .composeButton:hover svg {*/
/*    !*stroke: #00A88E;*!*/
/*}*/

.mailListTabs .composeButton svg {
    transition: all 0.2s;
    width: 20px;
    height: 20px;
}

.mailListTabs .composeButton span {
    margin-right: 5px;
}

.mailBox .hideButton {
    width: fit-content;
    margin-right: 10px;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid rgba(8, 22, 47, 0.16);
    z-index: 1;
}

.mailBox .hideButton svg {
    stroke: #000000;
    margin-right: 10px;
}

.mailBox .forwardButton {
    width: fit-content;
    font-size: 15px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #000000;
    padding: 5px 15px;
    margin-right: 10px;
    z-index: 1;
}

.mailBox .forwardButton svg {
    stroke: #ffffff;
    margin-right: 10px;
}

.mailBox .forwardButton:hover {
    background-color: #000000;
}

.replayBox {
    flex: 1;
}

.replayBox .mailFooter {
    height: 100%;
    padding: 0;
    flex: 1;
}

.replayBox .mailFooter .replyBox {
    border: 0;
    height: 100%;
}

.replayBox .mailFooter .replyBoxTags {
    flex: none;
}

.replayBox .mailFooter .replyMessage {
    flex: 1;
}

.replayBox .mailFooter .replyMessageArea {
    flex: 1;
    max-height: calc(100vh - 319px);
}

.mailBox .hideButton:hover {
    background-color: #ffffff;
}

.mailBox .hideButton:focus-visible {
    box-shadow: none;
}

.replyMailBox {
    padding: 10px;
}

.replyMailBox .replyMessageArea {
    margin-bottom: 10px;
    color: #000000;
    font-size: 13px;
    border: 0;
    height: calc(100% - 150px);
    border-radius: 0;
}

.replyMailBox .replyMessageArea:focus-visible {
    border: 0;
    box-shadow: none;
}

.messageNotSelectReply .replyBox {
    border: 0;
    height: 100%;
}

.messageNotSelectReply .replyMailBox {
    height: 100%;
}

.selectedThread .mailDetails {
    border: 1px solid #6b7280;
    box-shadow: 0 0 0 3px #e5e7eb;
}

.selectedThread .mailDetailsSelected {
    border-color: #76A2FF;
    box-shadow: none;
}

.threadList {
    margin-bottom: 5px;
    padding: 3px 3px 0 3px;
}

.mailMessageOption button {
    min-width: 10px;
    height: auto;
    border: 0;
}

.mailMessageOption button span {
    display: flex;
    flex-direction: column;
}

.mailMessageOption button:hover,
.mailMessageOption button:active {
    background-color: transparent;
}

.mailMessageOption button svg {
    margin-right: 0;
    width: 5px;
    height: 5px;
    color: #5D5F62;
    gap: 2px;
}

.ccButton {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    line-height: 1;
    text-align: right;
}

.ccButton:hover {
    text-decoration: underline;
}

.headerRightIcon .colorGray {
    color: #5D5F62;
    opacity: 0.8;
}

.edit {
    margin-top: 10px;
}

/* Mail Box End */

.envelopeIcon svg {
    fill: #5D5F62;
    width: 18px;
}

.headerRightIcon .menuIcon[data-active],
.headerRightIcon .menuIcon:hover {
    background-color: transparent;
}

.messageHeaderDropdown button {
    padding: 10px 12px;
    gap: 8px;
}

.headerRightIcon .menuIcon span {
    margin: 0;
}

.headerRightIcon .menuIcon svg {
    margin: 0;
    fill: #5D5F62;
}

.mailBox .hideShowIcon svg {
    color: #6B7280;
    width: 16px;
    height: 16px;
    margin: 0;
}

.mailBox .tabListAttachmentButton svg {
    width: 13px;
    height: 12px;
    margin: -2.5px 0 0;
}

.mailBox .tabListAttachmentButton:hover svg {
    stroke: #000000;
    color: #000000;
}

.mailBox .tabListAttachmentButton .dropDownIcon {
    margin-top: 0;
}

.mailBox .tabListAttachmentButton span {
    margin: 0;
}

.mailBox .tabListDropDown svg,
.mailBox .mailBoxTime .tabListDropDown svg {
    width: 20px;
    height: 20px;
    margin: 0;
}

.mailBox .tabListAttachmentButton:hover,
.mailBox .tabListAttachmentButton[data-active] {
    background-color: #f1f1f1;
}

.mailBox .oldMail.lastOpenMail {
    border-color: #FFFFFF;
}

.memberImages .memberPhoto img,
.mailBox .mailUserImage img,
.mailBox .mailBoxUserImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.memberImages .memberPhoto {
    min-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #EBF2FF;
    border: 1px solid #FFFFFF;
}

.memberImages .memberPhoto.smallMemberImage {
    min-width: 20px;
    width: 20px;
    height: 20px;
}

.memberImages .memberPhoto + .memberPhoto {
    margin-left: -12px;
}

.mailBox .mailBoxUserImage {
    min-width: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #000000;
    overflow: hidden;
}

.mailBox .menuIcon[data-active],
.mailBox .menuIcon:hover {
    background-color: transparent;
}

.mailBox .menuIcon span {
    margin: 0;
    display: none;
}

.mailBox .menuIcon span + span {
    display: inline-block;
}

.mailBox .menuIcon svg {
    margin: 0;
    width: 1em;
    height: 1em;
    fill: #6B7280;
}

.mailBox .mailBoxTime p {
    font-weight: 400;
    color: #6B7280;
    font-size: 11px;
    line-height: 15px;
}

.mailBox .createNewDraft:hover {
    background-color: #F3F4F6;
}

.mailBox .mailUserImage {
    width: 20px;
    height: 20px;
    min-width: 20px;
    background-color: #000000;
    border-radius: 20px;
    overflow: hidden;
}

.mailBox .editButton:hover {
    background-color: #F3F4F6;
}

.mailBox .replyBoxTextAreaShadow:before {
    position: absolute;
    content: '';
    height: 72px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    z-index: 1;
}

.replyBoxIcon svg {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0;
}

.mailRecipientsBox .replyBoxCC + .replyBoxCC {
    border-top: 1px solid #E5E7EB;
}

.mailSaveTime p {
    font-size: 12px;
}

.dropDownCloseIcon {
    padding: 8px 0 8px 5px !important;
}

.dropDownCloseIcon svg {
    color: #6B7280;
    width: 10px;
    height: 10px;
    margin-right: 0;
}

.dropDownCloseIcon:hover {
    background: transparent !important;
}

.addToProjectPlusActions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.addToProjectPlusActions .snoozeIcon {
    margin-top: -2px;
}

.composeBox .composeHeader svg {
    width: 16px;
    height: 16px;
    margin: 0;
}

.composeBox .composeHeader p {
    font-size: 12px;
}

.composeBox {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 12px 0 #00000014;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
}

.composeBox.resumeComposeBoxOpenAnimation {
    position: absolute;
    top: 45px;
    width: 100%;
    height: calc(100vh - 157px);
    left: 0;
    z-index: 10;
    opacity: 1;
    animation: compose-animation-show 300ms ease-in-out;
}

.composeBox.composeBoxCloseAnimation {
    position: absolute;
    width: 100%;
    height: calc(100vh - 157px);
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    animation: compose-animation 300ms ease-in-out;
}

.composeBox .subjectInput::placeholder {
    color: rgba(10, 16, 29, 0.34);
}

.composeBox .subjectInput:focus-visible {
    box-shadow: none;
}


.composeBox .replyButton .replyTextButton {
    border-radius: 5px 0 0 5px;
    padding: 10px 0 10px 10px;
    line-height: 18px;
}

.composeBox .replyButton .messageSendButton {
    background-color: #1F2937;
    border-radius: 5px 5px;
}

.composeBox .replyButton .replyTextDiscardButton {
    border-radius: 5px 0 0 5px;
    line-height: 16px;
    background: transparent;
    align-items: center;
    margin-right: 10px;
    color: #6B7280;
    font-weight: 500;
}

.composeBox .replyButton .replyTextButton:hover,
.composeBox .replyButton .replyTextButton:active,
.composeBox .replyButton .replyTextButton:hover[disabled],
.composeBox .replyButton .replyTextButton:hover:disabled,
.composeBox .replyButton .replyTextButton:focus-visible,
.composeBox .replyButton .replyArrowIcon:hover,
.composeBox .replyButton .replyArrowIcon:active,
.composeBox .replyButton .replyArrowIcon:focus-visible,
.composeBox .replyButton .replyArrowIcon:hover:disabled,
.composeBox .replyButton .replyArrowIcon:hover[disabled] {
    background-color: #1F2937;
    box-shadow: none;
}

.composeBox .replyButton .replyArrowIcon {
    border: 0;
    min-width: auto;
    border-radius: 0 5px 5px 0;
    padding: 9px;
}

.composeBox .replyBoxIcon svg {
    stroke: #6B7280;
}

.composeBox .replyBoxIcon .replyIcon:hover {
    background-color: rgba(32, 33, 36, 0.059);
}

.composeBox .replyButton .replyTextButton,
.composeBox .replyButton .replyArrowIcon {
    height: 38px;
    background-color: #1F2937;
}

.mailBox .otherMail {
    position: relative;
}

.mailBox .otherMail .otherMailList {
    display: none;
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    top: 100%;
    border: 1px solid #E5E7EB;
    z-index: 1;
    padding: 5px 0;
    max-height: 200px;
    overflow: auto;
}


.mailBox .otherMail:hover .otherMailList {
    display: block;
}

.mailBox .otherMail .otherMailList p {
    padding: 5px 10px;
}

.mailBox .otherMail {
    position: relative;
}

.mailBox .otherMail .otherMailList {
    display: none;
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    top: 100%;
    border: 1px solid #E5E7EB;
    z-index: 1;
    padding: 5px 0;
    max-height: 200px;
    overflow: auto;
}

.mailBox .otherMail:hover .otherMailList {
    display: block;
}

.attachIcon {
    display: flex;
    gap: 4px;
    background-color: #F3F4F6;
    padding: 4px 8px 4px 6px;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
    border-radius: 34px;
}

.messageListScrollBar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.messageListScrollBar.messageScrollBar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
}

.mailBox .mailBodyContent .mailBody {
    min-width: 730px;
}

.mailBox .oldMail .mailBoxMailHeader .mailBoxMailHeaderDetails:hover .copyIcon {
    visibility: visible;
}

.mailBox .oldMail .mailBoxMailHeader .recipient:hover .copyIcon {
    visibility: visible;
}

.mailBox .oldMail .mailBoxMailHeader .copyIcon {
    visibility: hidden;
    display: flex;
}

.mailBox .oldMail .mailBoxMailHeader .copyIcon.singleRecipients {
    margin-left: -5px;
}

.mailBox .oldMail .mailBoxMailHeader .copyIcon svg {
    height: 12px;
    width: 12px;
    color: rgb(107, 114, 128);
}

.newEmailAddInProject {
    padding: 16px 24px !important;
}

.newEmailAddInProject .newEmailButton {
    border: 1px solid #374151;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    color: #374151;
    margin-top: 16px;
}

.newEmailAddInProject .newEmailButton a {
    color: #0556FF;
    margin-left: 5px;
}

.newEmailAddInProject .dropdownDismiss {
    font-size: 12px;
    padding: 5px 8px;
    height: auto;
}

@keyframes compose-animation {
    from {
        width: 100%;
        height: calc(100vh - 157px);
        top: 0;
        left: 0;
        opacity: 1;
    }

    to {
        width: 0;
        height: 0;
        top: 50px;
        left: -30px;
        opacity: 0;
    }
}

@keyframes compose-animation-show {
    0% {
        position: absolute;
        width: 0;
        height: 110px;
        top: 20px;
        left: -30px;
        opacity: 0;
        bottom: 100%;
    }

    100% {
        width: 100%;
        height: calc(100vh - 157px);
        top: 0;
        left: 0;
        opacity: 1;
        bottom: 0;
    }
}

@media (max-width: 991px) {
    .filterTabs {
        padding: 16px 25px;
    }

    .mailList {
        max-height: calc(100vh - 250px);
        padding-right: 0;
    }

    .mailBox {
        height: calc(100vh - 180px);
    }

    .replayBox .mailFooter .replyMessageArea {
        max-height: calc(100vh - 407px);
    }
}

@media (max-width: 767px) {
    .filterTabs {
        padding: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1487px) {
    .threadSearched .addToProjectButtonText {
        display: none;
    }

    .threadSearched .addToProject {
        min-width: 1px;
    }
}

@media (min-width: 992px) and (max-width: 1236px) {
    .threadSearched .threadSearchedActionButtonText {
        display: none;
    }

    .threadSearched .tabListMoreButton {
        padding-left: 1px;
        border-radius: 10px;
        min-width: 1px;
    }
}

@media (min-width: 992px) and (max-width: 1041px) {
    .mailListTabs .threadSearched {
        gap: 3px;
        padding: 10px 10px;
    }

    .threadSearched .addToProject .RightContent {
        margin: 0;
    }
}

@media (min-width: 992px) and (max-width: 1431px) {
    .mailListTabs .composeButton .composeButtonText {
        display: none;
    }

    .mailListTabs .composeButton {
        min-width: 1px;
        width: fit-content;
    }

    .mailListTabs .composeButton span {
        margin: 0;
    }

    .mailTabList .emailTabs .active .mailboxText {
        display: none;
    }

    .mailTabList .tabListMoreButton {
        min-width: 1px;
        padding-left: 10px;
    }

    .mailTabList .tabListMoreButton span:first-child {
        display: none;
    }
}

@media (min-width: 991px) and (max-width: 1035px) {
    .mailTabList .emailTabs > div {
        padding: 9px;
    }
}

@media (max-width: 576px) {
    .mailBox .mailBoxHeader {
        flex-direction: column-reverse;
        padding: 12px;
        gap: 12px;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
        z-index: 1;
    }

    .mailBox .mailBoxHeader > div + div {
        width: 100%;
    }

    .mailBox .mailBoxHeader .mailboxHeaderMobileView {
        justify-content: space-between;
        width: 100%;
    }

    .mailBox .messageListScrollBar {
        padding: 0;
    }

    .mailBox .oldMail .mailBoxMailHeader {
        flex-direction: column;
    }

    .mailBox .oldMail .mailBoxMailHeader > div {
        padding: 10px 10px 16px;
        border: 1px solid transparent;
    }

    .mailBox .oldMail .mailBoxMailHeader > div + div {
        padding: 0 10px 16px;
        position: unset;
        margin-top: -10px;
    }

    .mailBox .oldMail .mailBoxMailHeader .menuIcon {
        position: absolute;
        right: 0;
        top: 12px;
    }

    .mailBox .oldMail .mailBoxMailHeader .mailBoxTime {
        padding: 0;
    }

    .mailBox .oldMail .mailBoxHideMail {
        padding: 12px;
    }

    .mailBox .oldMail .mailBoxTime {
        padding-top: 11px;
    }

    .threadList {
        padding: 0;
        margin-bottom: 6px;
    }

    .mailDetails {
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid #E5E7EB;
    }

    div.mailOtherOptionParents {
        display: none;
    }

    div.TabsListTabPanel {
        display: none;
    }

    div.mailList {
        margin: 0;
        max-height: calc(100vh - 119px);
    }

    .mailListTabs .mailListResult {
        margin: 0;
    }

    .mailDetails .senderDetails {
        color: #374151;
    }

    .mailMessage .threadSubject {
        color: #0A101D;
    }

    .mailBox {
        background-color: #F9FAFB;
        border: 0;
        height: 100vh;
    }

    .addToProject.projectAdded {
        background-color: transparent;
        border-color: #2A6FFF;
        color: #082561;
        padding: 7px 12px;
        min-width: fit-content;
    }

    .addToProject.projectAdded .RightContent {
        display: none;
    }

    .addToProject.projectAdded svg {
        stroke: #2A6FFF;
    }

    .mailBoxMailList .oldMail {
        border-radius: 0;
        margin-bottom: 0;
        border: 0;
        border-bottom: 1px solid #E5E7EB;
    }

    .mailBoxMailList .oldMail.lastOpenMail {
        background-color: #ffffff;
    }
}

@media (max-width: 480px) {
    .mailTabList .emailTabs .active .mailboxText, .mailTabList .tabListMoreButton span:first-child, .mailListTabs .composeButton .composeButtonText {
        display: none;
    }

    .mailListTabs .composeButton {
        width: auto;
        min-width: auto;
    }

    .mailListTabs .tabListMoreButton {
        min-width: 1px;
    }

    .mailBox .oldMail .mailBoxMailHeader .mailBoxMailHeaderDetails {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 3px;
    }
}

@media (min-width: 361px) {
    .mailBox .oldMail .mailBoxHideMail .mailBoxTimeMobile {
        display: none;
    }
}

@media (max-width: 360px) {
    .mailBox .mailBoxHeader .addToProject .addToProjectButtonText {
        display: none;
    }

    .mailBox .mailBoxHeader .addToProject {
        min-width: 1px;
        padding-right: 8px;
    }

    .mailBox .oldMail .mailBoxHideMail .mailBoxTimeMobile p {
        font-weight: 400;
        color: #6B7280;
        font-size: 11px;
        line-height: 15px;
        margin-bottom: 5px;
        margin-top: -3px;
    }

    .mailBox .oldMail .mailBoxTime .mailBoxTimeDesktop {
        display: none;
    }
}
