/*Filter Tabs Details start*/
.filterTabs {
    padding: 16px 40px;
    border-bottom: 1px solid rgba(8, 22, 47, 0.12);
}

/*Filter Tabs End*/


/*Mail section CSS start*/
.mailTabList {
    background-color: rgba(8, 22, 47, 0.03);
    border-radius: 8px;
    padding: 2px 10px 2px 2px;
}

.emailTabs > div {
    padding: 9px 12px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.emailTabs > div:hover {
    color: #266DF0;
}

.emailTabs > div:hover svg {
    stroke: #266DF0;
}

.emailTabs > div span span {
    background-color: #E9F0FE;
    border-radius: 4px;
    margin-left: 4px;
    padding: 1px 4px;
    line-height: 1.23;
}

.emailTabs > div svg {
    width: 20px;
    height: 20px;
}

.emailTabs > div span {
    margin-left: 8px;
    display: none;
}

.emailTabs[aria-selected="true"] > div {
    background-color: #ffffff;
    color: #266DF0;
}

.emailTabs > div.active span {
    display: flex;
}

.emailTabs > div.active svg {
    stroke: #266DF0;
}

.moreDropdown span {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #5D5F62;
}

.moreDropdown .moreButton {
    padding: 0 0 0 13px;
    background-color: transparent;
    height: fit-content;
    border-left: 1px solid rgba(93, 95, 98, 0.2);
    border-radius: 0;
}

.moreDropdown .moreButton:active {
    background-color: transparent;
}

.moreDropdown .moreButton:hover {
    background-color: transparent;
}

.moreDropdown span svg {
    width: 8px;
    height: 8px;
}

.checkBoxLabel span {
    color: #5D5F62;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
}

.mailOtherOption {
    margin-left: 20px;
}

.mailOtherOption button {
    border: 1px dashed rgba(93, 95, 98, 0.14);
    border-radius: 50px;
    color: #5D5F62;
    font-size: 13px;
    line-height: 1;
    padding: 5px 12px;
    height: auto;
}

.mailOtherOption button span {
    background-color: rgba(93, 95, 98, 0.1);
    letter-spacing: 0.24px;
    line-height: 1.25;
    padding: 1px 4px;
    margin-left: 8px;
    border-radius: 4px;
}

.mailOtherOption .active button {
    border: 1px solid rgba(38, 109, 240, 0.14);
    color: #266DF0;
}

.mailOtherOption .active button span {
    background-color: #E9F0FE;
}

.mailList {
    max-height: calc(100vh - 220px);
    overflow-y: auto;
}

.mailOpen .mailDetails {
    border-color: rgba(38, 109, 240, 0.15);
    background-color: rgba(38, 109, 240, 0.03);
}

.mailDetails {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.mailDetails.readThread {
    background-color: rgba(8, 22, 47, 0.03);
}

.mailDetails .SenderIcon svg {
    width: 20px;
    height: 20px;
}

.mailDetails .SenderIcon {
    line-height: 1;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.mailDetails .senderDetails {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 1px 6px 1px 1px;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    line-height: 14.32px;
}

.mailDetails .senderDetails svg {
    width: 20px;
    height: 20px;
}

.mailDetails .mailRead {
    width: 20px;
    height: 20px;
    background-color: #E9F0FE;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.mailDetails .mailRead svg {
    stroke: #266DF0;
}

.mailDetails .mailMessage {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 4px;

}

/*Mail section CSS End*/

.error {
    color: #FF0000;
}

/* Mail Box Start */
.mailBox {
    border: 1px solid rgba(8, 22, 47, 0.16);
    border-radius: 16px;
    height: 100%;
}

.mailBox svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.mailBox .mailBody {
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    width: 100%;
}

.mailBox .mailBodyContent {
    padding: 15px;
    flex: 1;
    background: rgba(0, 0, 0, 0.03);
}

.mailBoxFLex {
    flex: 1;
}

.replyBox {
    border: 1px solid rgba(8, 22, 47, 0.1);
    border-radius: 20px;
}

.headerRightIcon svg {
    cursor: pointer;
}

.headerRightIcon .totalMessages {
    font-size: 14px;
}

.mailBox .addToProject {
    border-radius: 50px;
    background: rgba(38, 109, 240, 0.1);
    color: #266DF0;
    box-shadow: 0 0 3px 0 rgba(38, 109, 240, 0.12);
    padding: 4px 4px 4px 8px;
    font-size: 12px;
    font-weight: 500;
    height: fit-content;
}

.mailBox .addToProject:hover {
    background: rgba(38, 109, 240, 0.1);
}

.mailBox .addToProject .RightContent {
    display: inline-block;
    background-color: rgba(38, 109, 240, 0.1);
    border-radius: 50px;
    padding: 2px 4px;
    margin-left: 5px;
}

.mailBox .addToProject svg {
    stroke: #266DF0;
    margin: 0;
}

.replyBox h1 {
    font-size: 13px;
    font-weight: 500;
}

.replyBoxCC button {
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.04);
    border-color: transparent;
    color: #000000;
}

.replyBoxCC button.textBlue {
    background-color: #ffffff;
    border-color: rgba(38, 109, 240, 0.24);
    color: #266DF0;
}

.closeIcon {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.closeIcon svg {
    width: 0.7rem;
    height: 0.7rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 0;
}

.actionIcon {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.actionIcon svg {
    width: 1rem;
    height: 1rem;
    margin: 0;
    color: #4A4A4A;
}

.mailBox .mailFooter {
    padding: 0 20px 20px;
}

.composeReplyBox {
    height: 100%;
}

.composeReplyBox .mailFooter {
    padding: 0;
}

.composeReplyBox .mailFooter .mailReply {
    padding: 10px 20px 0;
    margin-bottom: 0;
}

.composeReplyBox .mailFooter .replyBox {
    border: 0;
    height: 100%;
}

.composeReplyBox .mailFooter {
    flex: 1 1 auto;
}

.composeReplyBox .mailBoxFLex {
    flex: none;
}

.composeReplyBox .mailFooter .replyBoxTags {
    flex: none;
}

.composeReplyBox .mailFooter .replyMessage {
    flex: 1 1 auto;
}

.composeReplyBox .mailFooter .replyMessageArea {
    flex: 1 1;
}

.mailBox .mailFooter svg {
    cursor: pointer;
    margin: 0;
}

.mailReply h1 {
    font-weight: 500;
    font-size: 13px;
}

.mailReply svg {
    width: 10px;
    height: 10px;
    margin-right: 0;
    margin-left: 5px;
}

.mailReply p {
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.mailReply .error {
    color: #FF0000;
}

.replyMessage {
    padding: 16px;
}

.replyMessage .replyMessageArea {
    margin-bottom: 10px;
    color: #000000;
    font-size: 13px;
    border: 0;
    resize: none;
}

.replyBoxCC .ccInput {
    flex: 1 0 auto;
}

.replyBoxCC .ccInput:hover,
.replyBoxCC .ccInput:focus-visible,
.subject .subjectInput:hover,
.subject .subjectInput:focus-visible {
    border: 0;
    box-shadow: none;
}

.subject .subjectInput {
    height: auto;
    font-weight: 600;
    font-size: 15px;
}

.subject .subjectInput::placeholder {
    color: #1A202C;
}

.subject {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.replyBoxCC .error {
    width: 100%;
    display: block;
    font-size: 12px;

}

.replyMessage .replyMessageArea:focus-visible {
    box-shadow: none;
    border: 0;
}

.replyMessage .replyMessageArea::placeholder {
    color: #000000;
}

.replyMessage .replyButton,
.syncButton .replyButton {
    background-color: #266DF0;
    color: #ffffff;
}

.replyMessage .replyButton:hover,
.syncButton .replyButton:hover {
    background-color: #266DF0;
}

.replyButton svg {
    margin-right: 0;
}

.actionIcon.disabled {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
}

.syncButton {
    text-align: end;
}
.composeButton {
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.5s;
    margin-right: 20px;
    color: #266df0;
    min-width: 130px;
}

.readThread {
    margin-right: 0px;
}

.mailBox .replyButton {
    width: fit-content;
    margin: 0 auto;
    font-size: 12px;
    height: fit-content;
    padding: 0 5px;
    border-radius: 4px;
}


.mailBox .replyButton svg {
    margin: 0 auto;
}

.mailBox .hideButton {
    width: fit-content;
    margin: 0 auto;
    font-size: 12px;
    height: fit-content;
    padding: 0 5px;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.mailBox .hideButton svg {
    margin: 0 auto;
}

.replyMailBox {
    padding: 10px;
}

.replyMailBox .replyMessageArea {
    margin-bottom: 10px;
    color: #000000;
    font-size: 13px;
    border: 0;
    height: calc(100% - 150px);
    border-radius: 0;
}

.replyMailBox .replyMessageArea:focus-visible {
    border: 0;
    box-shadow: none;
}

.messageNotSelectReply .replyBox {
    border: 0;
    height: 100%;
}

.messageNotSelectReply .replyMailBox {
    height: 100%;
}

.selectedThread .mailDetails {
    border: 1px solid #266DF0;
    background-color: rgba(38,109,240, 0.03);
}

.mailMessageOption button {
    min-width: 10px ;
    height: auto;
    border: 0;
}

.mailMessageOption button span {
    display: flex;
    flex-direction: column;
}

.mailMessageOption button:hover,
.mailMessageOption button:active {
    background-color: transparent;
}

.mailMessageOption button svg {
    margin-right: 0;
    width: 5px;
    height: 5px;
    color: #5D5F62;
    gap: 2px;
}

.ccButton {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    line-height: 1;
    text-align: right;
}
.ccButton:hover {
    text-decoration: underline;
}

/* Mail Box End */

@media (max-width: 991px) {
    .filterTabs {
        padding: 16px 25px;
    }

    .mailList {
        max-height: calc(100vh - 288px);
        overflow-y: auto;
    }
}

@media (max-width: 767px) {
    .filterTabs {
        padding: 15px;
    }
}
