.projectPage .imgWrapper {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    overflow: hidden;
}

.projectPage .imgWrapper img,
.projectPage .userImage img,
.mailBox .imgWrapper img,
.projectList .projectIcon img,
.memberImages .memberPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectPage .userImage,
.mailBox .imgWrapper {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.projectPage .userImage {
    background-color: #000000;
}

.projectPage .manageMembers:hover,
.projectPage .manageMembers:active,
.projectPage .manageMembers[data-active] {
    background-color: #000000;
}

.checkBoxLabel span {
    color: #5D5F62;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
}

.projectPage .allInboxes {
    color: #08162F;
    padding: 7px 12px;
}

.projectPage .allInboxes:hover,
.projectPage .allInboxes:active {
    background-color: #FFFFFF;
}

.mailList {
    max-height: calc(100vh - 240px);
    overflow-y: auto;
}

.mailList.projectThreadList {
    max-height: calc(100vh - 250px);
}

.mailDetails .senderDetails {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 1px 6px 1px 1px;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    line-height: 15px;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.mailDetails .senderDetails svg {
    width: 20px;
    height: 20px;
}

.mailDetails .mailMessage {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 4px;
}

.mailDetails {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.closeIcon {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.closeIcon svg {
    width: 0.7rem;
    height: 0.7rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 0;
}

.actionIcon {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.actionIcon svg {
    width: 1rem;
    height: 1rem;
    margin: 0;
    color: #4A4A4A;
}

.headerRightIcon .colorGray {
    color: #5D5F62;
    opacity: 0.8;
}

.closeIcon svg {
    width: 12px;
}

.saveMemberButton:hover, .saveMemberButton:hover:disabled, .saveMemberButton:hover[disabled] {
    background-color: #2F855A !important;
}

.mailBox .mailBoxBackground {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 24px;
    border-radius: 8px;
    height: fit-content;
}

.replyButton input::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

.replyButton input:focus-visible,
.replyBoxCC .ccInput:focus-visible {
    border: 0;
    box-shadow: none;
}

.replyBoxCC .buttonClass:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.replyBoxCC .buttonClass.ButtonClassBorder {
    background-color: #FFFFFF;
    border: 1px solid rgba(8, 22, 47, 0.24);
}

.replyButtonBottom svg {
    color: #ffffff;
}

.replyButtonBottom .replayTextButton,
.replyButtonBottom .replayArrowIcon {
    height: auto;
    background-color: #000000;
    font-weight: 400;
}

.replyButtonBottom .replayTextButton {
    border-radius: 5px 0 0 5px;
    padding: 10px 0 10px 10px;
    line-height: 1.1;
}

.replyButtonBottom .replayArrowIcon {
    border: 0;
    min-width: auto;
    border-radius: 0 5px 5px 0;
    padding: 9px;
}

.replyButtonBottom .replayArrowIcon:hover,
.replyButtonBottom .replayArrowIcon:active,
.replyButtonBottom .replayArrowIcon[data-active],
.replyButtonBottom .replayArrowIcon:focus-visible,
.replyButtonBottom .replayArrowIcon:hover:disabled,
.replyButtonBottom .replayArrowIcon:hover[disabled] {
    background-color: #000000;
}

.replyButtonBottom .replayTextButton:hover,
.replyButtonBottom .replayTextButton:active,
.replyButtonBottom .replayTextButton:focus-visible {
    background-color: #000000;
    box-shadow: none;
}

.replyBoxTags .replayBoxTextArea:focus-visible {
    box-shadow: none;
    border: 0;
}

.replyBoxTags .replayBoxTextArea::placeholder {
    color: #000000;
    font-weight: 500;
}

.replyBoxIcon svg {
    width: 20px;
    height: 20px;
}

.readMail .mailDetails {
    background-color: #F5F5F5;
    border-color: #EBEBEB;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}

.readMail .mailDetails .senderDetails {
    background-color: #FFFFFF;
}

.projects:hover {
    border-color: #D1D5DB;
}

.projects .projectListIcon svg {
    stroke: #374151;
}

.projects .projectListIcon.projectFillStar svg,
.projects .projectListDropDownButton:hover svg,
.projects .projectListDropDownButton[data-active] svg,
.projects .projectListDropDownButton:active svg {
    fill: #374151;
}

.projects .projectListDropDownButton svg {
    fill: #9CA3AF;
}

.projects .projectListDropDownButton:hover,
.projects .projectListDropDownButton[data-active],
.projects .projectListDropDownButton:active {
    background-color: #F3F4F6;
}

.projectIcon {
    font-size: 18px;
    line-height: 1.33;
}

.projects .projectIcon,
.memberImages .memberPhoto {
    min-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
}

.memberImages .memberPhoto {
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #5BDF68;
}

.memberImages .memberPhoto + .memberPhoto {
    margin-left: -12px;
    border: 1px solid #FF5E2C;
}

.memberImages .memberPhoto + .memberPhoto + .memberPhoto {
    display: flex;
    align-items: center;
    background-color: #EBF2FF;
    justify-content: center;
    color: #082561;
    font-size: 9px;
    line-height: 1.667;
    letter-spacing: 0.18px;
    border: 1px solid #FFFFFF;
}

.projects .dragIcon svg {
    height: 24px;
    width: 24px;
}

.projects:hover .dragIcon svg {
    stroke: #374151;
}

.projects .borderStar svg {
    fill: none;
}

.projectListPage .createProjectButton:hover {
    background-color: #1F2937;
}

.selectedThread .mailDetails {
    border: 1px solid #373737;
    background-color: rgba(8, 22, 47, 0.03);
}

.mailDetails.readThread {
    background-color: #eeeeee;
}

.manageMemberDropDown .dropDownSearchBar {
    margin: 16px 12px;
    padding: 12px;
    min-width: 456px;
    background-color: #F3F4F6;
    border-radius: 12px;
}

.manageMemberDropDown .addMemberDropDownButton {
    padding: 0;
    min-width: 65px;
    flex: unset;
    gap: 0;
}

.manageMemberDropDown .addMemberDropDownButton:hover {
    background-color: transparent;
}

.manageMemberDropDown .addMemberButton {
    border: 0;
    color: #FFFFFF;
    height: 100%;
    padding: 12px;
    line-height: 1;
    font-size: 14px;
    min-width: 56px;
}

.manageMemberDropDown .addMemberButton:hover {
    color: #FFFFFF;
}

.manageMemberDropDown button {
    color: #0A101D;
    flex: 1;
    gap: 8px;
}

.manageMemberDropDown .projectMember:hover {
    background-color: rgba(8, 22, 47, 0.05);
}

.manageMemberDropDown .projectMember button,
.manageMemberDropDown .projectMember button:hover,
.manageMemberDropDown .projectMember button:focus {
    background-color: transparent;
}

.manageMemberDropDown .projectMember .memberRoleDropdownList button:hover {
    background-color: rgba(8, 22, 47, 0.05);
}

.manageMemberDropDown .addMemberButton:hover {
    background-color: #1F2937 !important;
}

.manageMemberDropDown .dropDownSearchBar input::placeholder {
    color: #9CA3AF;
}

.manageMemberDropDown .dropDownSearchBar input:focus-visible {
    box-shadow: none;
}

.manageMemberDropDown .imgWrapper {
    min-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    overflow: hidden;
}

.manageMemberDropDown .memberDropDown {
    padding: 5px 10px;
}

.manageMemberDropDown .memberDropDown.memberRoleButton {
    background-color: #FFFFFF;
}

.manageMemberDropDown .memberDropDown.memberRoleButton:hover {
    background-color: transparent;
}

.manageMemberDropDown .memberDropDown:hover,
.manageMemberDropDown .memberDropDown:active,
.manageMemberDropDown .memberDropDown[data-active] {
    background-color: #FFFFFF;
}

.manageMemberDropDown .memberDropDown span {
    margin-left: 0;
}

.manageMemberDropDown .memberDropDown svg {
    font-size: 10px;
}

.manageMemberDropDown .closeIcon {
    max-width: 20px;
    height: 20px;
}

.manageMemberDropDown .closeIcon:hover {
    background-color: #FFFFFF;
}

.projectMemberModal .projectSearchBar:focus-visible,
.projectMemberModal .projectSearchBar:hover {
    border-color: #E5E7EB;
    box-shadow: none;
}

.projectMemberModal .addProjectMember {
    background-color: #F3F4F6;
    border-radius: 12px;
    padding: 16px;
}

.projectMemberModal .addProjectMember input:focus-visible {
    border: 0;
    box-shadow: none;
}

.projectMemberModal .addProjectMember input {
    padding-right: 10px;
}

.projectMemberModal .memberRoleDropDown:hover,
.projectMemberModal .memberRoleDropDown:active,
.projectMemberModal .memberRoleDropDown[data-active] {
    background-color: #ffffff;
}

.projectMemberModal .memberRoleDropDown svg {
    width: 10px;
    height: 10px;
}

.projectMemberModal .addMemberButton:hover {
    background-color: #1F2937 !important;
}

.projectMemberModal .cancelModalButton:hover {
    background-color: #ffffff;
}

.projectMemberModal .emojiSearchBar:focus-visible {
    box-shadow: none;
}

.projectMemberModal .emojiSearchBar::placeholder {
    color: #9CA3AF;
}

.projectMemberModal .emojiModalButton:hover {
    background-color: #F9FAFB;
}

.projectMemberModal .emojiModalButton span {
    display: flex;
    justify-content: center;
}

.projectPage .projectListMenuButton svg {
    fill: #374151;
}

.projectPage .projectListDropDownButton.projectListMenuButton:hover,
.projectPage .projectListDropDownButton.projectListMenuButton[data-active],
.projectPage .projectListDropDownButton.projectListMenuButton:active {
    background-color: #FFFFFF;
}

.projectNameDropdown {
    background-color: #fff !important;

}

.projectNameDropdown:hover {
    background-color: #F6F6F6 !important;
}

@media (max-width: 991px) {
    .projectPage .mailGrid {
        grid-template-columns: 100% 100%;
        display: flex;
    }

    .projectPage {
        padding: 15px 20px !important;
    }

    .mailList.projectThreadList {
        max-height: calc(100vh - 236px);
    }
}
